{% extends "base.html" %}  {# Inherit from base.html #}

{% block title %}Users{% endblock %}

{% block content %}  {# Start content block #}
<body>
  <h1>Users</h1>
    
  {% if users %}
      <ul>
          {% for user in users %}
              <li>
                  <a href="{{ url_for('list_user_movies', user_id=user.id) }}">
                      {{ user.name }}
                  </a>
              </li>
          {% endfor %}
      </ul>
  {% else %}
      <p>No users found.</p>
  {% endif %}
  
  <a href="{{ url_for('add_user') }}">Add New User</a>
</body>
{% endblock %}